<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808808779110-rmrhap1mhjgs7alihhj2bcbfo39oss2b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808808779110-rmrhap1mhjgs7alihhj2bcbfo39oss2b</string>
	<key>API_KEY</key>
	<string>AIzaSyCiGRy9vzBv28nBEWybztEl-VkKnAH5bsg</string>
	<key>GCM_SENDER_ID</key>
	<string>808808779110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsAppUsingNewsApi</string>
	<key>PROJECT_ID</key>
	<string>news-wave-891e0</string>
	<key>STORAGE_BUCKET</key>
	<string>news-wave-891e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808808779110:ios:82bc0d52073057a18dcca7</string>
</dict>
</plist>